# If Statement in Python

In [37]:
# If the number is positive, we print an appropriate message

num = 3
if num > 0:
    print(num, "is a positive number.")
print("This is always printed.")

num = -1
if num > 0:
    print(num, "is a positive number.")
print("This is also always printed.")

3 is a positive number.
This is always printed.
This is also always printed.

# While Loop in Python

In [34]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [36]:
count = 0
while count < 5:
   print(count, " is  less than 5")
   count = count + 1
else:
   print(count, " is not less than 5")

0  is  less than 5
1  is  less than 5
2  is  less than 5
3  is  less than 5
4  is  less than 5
5  is not less than 5

# Functions in Python

In [27]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [32]:
def my_function(fname):
  print(fname + " Refsnes")
my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [33]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]
my_function(fruits)

apple
banana
cherry

# For Loop in Python

In [25]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [26]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [56]:
for i in range(4):
    print(i)

0
1
2
3

In [57]:
for x in range(2, 6):
  print(x)

2
3
4
5

# Lists in Python

 Lists are mutable, i.e., they can be altered once declared.
 
 A single list can contain strings, integers, as well as objects

In [40]:
# Declaring a list 
L = [1, "a" , "string" , 1+2] 
print(L )
L.append(6) 
print(L)
L.pop() 
print(L)
print(L[1] )

[1, 'a', 'string', 3]
[1, 'a', 'string', 3, 6]
[1, 'a', 'string', 3]
a

In [53]:
L[0]

1

In [54]:
len(L)

4

# Tuples in Python
A tuple is a sequence of immutable Python objects. 

Tuples are just like lists with the exception that tuples cannot be changed once declared. Tuples are usually faster than lists.

In [42]:
tup = (1, "a", "string", 1+2) 
print(tup)
print(tup[1])

(1, 'a', 'string', 3)
a

# The Key Difference between a List and a Tuple

The main difference between lists and a tuples is the fact that lists are mutable whereas tuples are immutable.

In [44]:


#Letâ€™s create a list and assign it to a variable.
a = ["apples", "bananas", "oranges"]
a[0] = "berries"
a

['berries', 'bananas', 'oranges']

In [45]:
# a is tuple
a = ("apples", "bananas", "oranges")
a[0] = "berries"

TypeError: 'tuple' object does not support item assignment

# Crteating sets in Python

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements.

We can pass a list to the built-in set function, as we can see in the following

In [1]:
x = set(["Perl", "Python", "Java"])
x

{'Java', 'Perl', 'Python'}

We want to show now, what happens, if we pass a tuple with reappearing elements to the set function - in our example the city "Paris":

In [2]:
cities = set(("Paris", "Lyon", "London","Berlin","Paris","Birmingham"))
cities

{'Berlin', 'Birmingham', 'London', 'Lyon', 'Paris'}

In [3]:
cities.add("Strasbourg")
cities

{'Berlin', 'Birmingham', 'London', 'Lyon', 'Paris', 'Strasbourg'}

# Frozensets are like sets except that they cannot be changed

In Python, frozenset is same as set except its elements are immutable. 

The order of element is not guaranteed to be preserved.

In [4]:
cities = frozenset(["Frankfurt", "Basel","Freiburg"])
cities.add("Strasbourg")

AttributeError: 'frozenset' object has no attribute 'add'

In [5]:
cities

frozenset({'Basel', 'Frankfurt', 'Freiburg'})

In [10]:
def loadDataSet():
    return [[1, 3, 4], [2, 3, 5], [1, 2, 3, 5], [2, 5]]
dataSet = loadDataSet()
dataSet

[[1, 3, 4], [2, 3, 5], [1, 2, 3, 5], [2, 5]]

In [12]:
for transaction in dataSet
print(transaction)

SyntaxError: invalid syntax (<ipython-input-12-5fa48a69fa45>, line 1)

In [13]:
x = {"a", "b", "c"}
y = {"f", "e", "d",  "c", "b", "a"}
 
z = x.issubset(y) 

print(z)

True

In [46]:
# Program to perform different set operations 
# as we do in  mathematics 
  
# sets are define 
A = {0, 2, 4, 6, 8}; 
B = {1, 2, 3, 4, 5}; 
  
# union 
print("Union :", A | B) 
  
# intersection 
print("Intersection :", A & B) 
  
# difference 
print("Difference :", A - B) 
  
# symmetric difference 
print("Symmetric difference :", A ^ B)

Union : {0, 1, 2, 3, 4, 5, 6, 8}
Intersection : {2, 4}
Difference : {0, 8, 6}
Symmetric difference : {0, 1, 3, 5, 6, 8}

# Dictionary

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [15]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [24]:
for key in thisdict:
    print(thisdict[key])

Ford
Mustang
2018

In [16]:
x = thisdict["model"]
x

'Mustang'

In [17]:
x = thisdict.get("model")
x

'Mustang'

In [18]:
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [19]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict)

Empty Dictionary:
{}

In [20]:
# Creating a Dictionary  
# with Integer Keys 
Dict = {1: 'Geeks', 2: 'For', 3: 'Geeks'} 
print("\nDictionary with the use of Integer Keys: ") 
print(Dict)

Dictionary with the use of Integer Keys:
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

# Insert method

In [2]:
# insert 10 at 4th index
ist1 = [ 1, 2, 3, 4, 5, 6, 7 ] 
list1.insert(4, 10)  
print(list1)

[1, 2, 3, 4, 10, 5, 6, 7]

In [3]:
list2 = ['a', 'b', 'c', 'd', 'e']  
  
# insert z at the front of the list 
list2.insert(0, 'z') 
print(list2)

['z', 'a', 'b', 'c', 'd', 'e']

# Map() Function



The map() function executes a specified function for each item in a iterable. The item is sent to the function as a parameter.

map(function, iterables)

function :The function to execute for each item

iterable :A sequence, collection or an iterator object. You can send as many iterables as you like, just make sure the function has one parameter for each iterable.

In [51]:
def myfunc(a, b):
  return a + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))
print(x)

<map object at 0x000002AB7A175780>

In [52]:
#convert the map into a list, for readability:
print(list(x))

['appleorange', 'bananalemon', 'cherrypineapple']